# dll files
Assemblies/

# Visual Studio folders
.vs/
.idea/

# Visual Studio files
/Source/RimGamble/RimGamble.csproj.user

# Debug folder
[Dd]ebug/

# build folders
/Source/RimGamble/[Bb]in/
/Source/RimGamble/[Oo]bj/
/Source/RimGamble/[Ll]og/
/Source/RimGamble/Release/
